body {
color:white;



background-color: black;


  
margin: 10% 30% ;

font-family: Arial narrow ;
}

body{
  background: url(https://www.zingerbug.com/Backgrounds/background_images/starry_sky_glitter_background_seamless.gif);
  background-size: auto;
}
